

.background_color
{
  font-family: "Verdana", sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}


.Title_A
{
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.Title_B
{
  font-size: 42px;
  font-weight: 300;
}

#tent_blurb
{
  font-size: 21px;
  color: gray;
}

.download_link
{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
